:root {
--Button-Text:#ffffff;
--Header-Text:#ffffff;
--Header-Background:#000000;
--Footer-Text:#ffffff;
--Button-Background:#000000;
--Footer-Background:#454545;
--Content-Background:#ffffff;
--Content-Text:#ffffff;
--Button-Hover-Background:#454545;
--Button-Hover-Text:#ffffff;
}