:root {
--Button-Text:#ffffff;
--Header-Text:#ffffff;
--Header-Background:#0F1640CC;
--Footer-Text:#ffffff;
--Button-Background:#3F51B5CC;
--Footer-Background:#0F1640CC;
--Content-Background:#ffffff;
--Content-Text:#ffffff;
--Button-Hover-Background:#3F51B5CC;
--Button-Hover-Text:#ffffff;
}