:root {
--Button-Text:#ffffff;
--Header-Text:#ffffff;
--Header-Background:#7E6A8E;
--Footer-Text:#ffffff;
--Button-Background:#4D3A70D9;
--Footer-Background:#7E6A8E;
--Content-Background:#ffffff;
--Content-Text:#ffffff;
--Button-Hover-Background:#4D3A70D9;
--Button-Hover-Text:#FFFFFF;
}