:root {
--Button-Text:#ffffff;
--Header-Text:#ffffff;
--Header-Background:#9AABB4;
--Footer-Text:#ffffff;
--Button-Background:#C7ADC7;
--Footer-Background:#9AABB4;
--Content-Background:#ffffff;
--Content-Text:#ffffff;
--Button-Hover-Background:#9AABB4;
--Button-Hover-Text:#ffffff;
}