:root {
--Button-Text:#ffffff;
--Header-Text:#FFFFFF;
--Header-Background:#235536;
--Footer-Text:#ffffff;
--Button-Background:#000000;
--Footer-Background:#235536;
--Content-Background:#ffffff;
--Content-Text:#FFFFFF;
--Button-Hover-Background:#9AAC65;
--Button-Hover-Text:#ffffff;
}