:root {
--Button-Text-Hover:#FFFFFF;
--Button-Background:#E91E63F2;
--Button-Text:#FFFFFF;
--Content-Background:#FFFFFF;
--Header-Background:#F44336;
--Header-Text:#FFFFFF;
--Footer-Background:#00A551;
--Footer-Text:#FFFFFF;
--Content-Text:#FFFFFF;
--Button-Background-Hover:#ff6d02;
--Body-Background:#FFFFFF;
}