:root {
--Button-Text-Hover:#FFFFFF;
--Button-Background:#6883A9;
--Header-Background:#35588C;
--Header-Text:#FFFFFF;
--Footer-Text:#FFFFFF;
--Button-Text:#FFFFFF;
--Content-Background:#FFFFFF;
--Footer-Background:#35588C;
--Content-Text:#FFFFFF;
--Button-Background-Hover:#ff6d02;
--Body-Background:#FFFFFF;
}