:root {
--Button-Text-Hover:#850202;
--Button-Background:#850202;
--Button-Text:#EBEBEB;
--Content-Background:#EBEBEB;
--Header-Background:#EBEBEB;
--Header-Text:#850202;
--Footer-Background:#850202;
--Footer-Text:#EBEBEB;
--Content-Text:#EBEBEB;
--Button-Background-Hover:#EBEBEB;
--Body-Background:#EBEBEB;
}