:root {
--Button-Text:#555555;
--Header-Text:#555555;
--Header-Background:#ADADAD;
--Footer-Text:#555555;
--Button-Background:#ADADAD;
--Footer-Background:#ADADAD;
--Content-Background:#ffffff;
--Content-Text:#ffffff;
--Button-Hover-Background:#375C86;
--Button-Hover-Text:#FFFFFF;
}