body{
  margin: 0px;
}
.container {
  display: grid;
  font-family: Arial, Helvetica, sans-serif;
  grid-template-areas:
    "header header"
    "nav content"
    "footer footer";

  grid-template-columns: 200px 1fr;
  grid-template-rows: auto 1fr auto;
  grid-gap: 0px;

  height: 100vh;
}

header {
  grid-area: header;
  background-color: var(--Header-Background);
  color: var(--Header-Text);
}

nav {
  color: var(--Header-Text);
  background-color: var(--Button-Background);
  grid-area: nav;
}

main {
  grid-area: content;
  color: var(--Content-Text);
  background-color: var(--Content-Background);
}

footer {
  grid-area: footer;
}
.log{
  max-height: 50px;
  width: auto;
  margin: 10px;
}
.logo {
  width: 100%;
  height: 100%;
  color: var(--Header-Text);
  display: flex;
}
.person {
  margin: auto 20px auto auto;
}
@media (max-width: 768px) {
  .container {
    grid-template-areas:
      "header"
      "nav"
      "content"
      "side"
      "footer";

    grid-template-columns: 1fr;
    grid-template-rows:
      auto /* Header */
      minmax(75px, auto) /* Nav */
      1fr /* Content */
      minmax(75px, auto) /* Sidebar */
      auto; /* Footer */
  }

  nav, aside {
    margin: 0;
  }
}