:root {
--Button-Text:#FFFFFF;
--Header-Text:#ffffff;
--Header-Background:#2A94D6;
--Button-Background:#47B4EA;
--Footer-Background:#2A94D6;
--Content-Background:#ffffff;
--Content-Text:#ffffff;
--Button-Hover-Text:#ffffff;
--Footer-Text:#ffffff;
--Button-Hover-Background:#00AC5B;
}