:root {
--Button-Text-Hover:#FFFFFF;
--Button-Background:#4CAF50CC;
--Button-Text:#000000;
--Content-Background:#FFFFFF;
--Header-Background:#4CAF50CC;
--Header-Text:#FFFFFF;
--Footer-Background:#4CAF50CC;
--Footer-Text:#000000;
--Content-Text:#FFFFFF;
--Button-Background-Hover:#ff6d02;
--Body-Background:#FFFFFF;
}