:root {
--Button-Text-Hover:#393939;
--Button-Hover-Text:#ffffff;
--Button-Background:#000000;
--Header-Background:#333333;
--Header-Text:#eeeeee;
--Footer-Text:#eeeeee;
--Button-Hover-Background:#ff6d02;
--Button-Text:#eeeeee;
--Content-Background:#eeeeee;
--Footer-Background:#000000;
--Content-Text:#eeeeee;
--Button-Background-Hover:#eeeeee;
--Body-Background:#333333;
}