:root {
    --Button-Text: #ffffff;
    --Header-Text: #ffffff;
    --Footer-Background: #BF2E2E;
    --Content-Text: #ffffff;
    --Header-Background: #BF2E2E;
    --Button-Background: #BF2E2E;
    --Content-Background: #ffffff;
    --Button-Hover-Text: #ffffff;
    --Footer-Text: #ffffff;
    --Button-Hover-Background: #BF2E2E;
}