:root {
--Button-Text-Hover:#FFFFFF;
--Button-Background:#D3D3D3;
--Header-Background:#BBBBBB;
--Header-Text:#666666;
--Footer-Text:#666666;
--Button-Text:#666666;
--Content-Background:#FFFFFF;
--Footer-Background:#D3D3D3;
--Content-Text:#FFFFFF;
--Button-Background-Hover:#1D49EF;
--Body-Background:#FFFFFF;
}