:root {
--Button-Text-Hover:#FFFFFF;
--Button-Background:#526570;
--Button-Text:#FFFFFF;
--Content-Background:#FFFFFF;
--Header-Background:#D81E05;
--Header-Text:#FFFFFF;
--Footer-Background:#D81E05;
--Footer-Text:#FFFFFF;
--Content-Text:#FFFFFF;
--Button-Background-Hover:#D9EFE0;
--Body-Background:#FFFFFF;
}