:root {
--Button-Text-Hover:#FFFFFF;
--Button-Background:#BB7033;
--Button-Text:#FFFFFF;
--Content-Background:#FFFFFF;
--Header-Background:#936028;
--Header-Text:#FFFFFF;
--Footer-Background:#BB7033;
--Footer-Text:#FFFFFF;
--Content-Text:#FFFFFF;
--Button-Background-Hover:#ff6d02;
--Body-Background:#FFFFFF;
}