:root {
--Button-Text:#000000;
--Header-Text:#0000006B;
--Header-Background:#CCE7F3B3;
--Button-Background:#CCE7F3B3;
--Footer-Background:#CCE7F3B3;
--Content-Background:#CCE7F3B3;
--Content-Text:#ffffff;
--Button-Hover-Text:#000000B3;
--Footer-Text:#0000006B;
--Button-Hover-Background:#03A9F4B3;
}