:root {
--Button-Text:#303030;
--Header-Text:#363636;
--Header-Background:#FFFFFF;
--Button-Background:#DEDEDE;
--Footer-Background:#C1C1C1;
--Content-Background:#ffffff;
--Content-Text:#ffffff;
--Button-Hover-Text:#ffffff;
--Footer-Text:#ffffff;
--Button-Hover-Background:#F44336;
}