
.header_right {
  display: flex;
  line-height: 25px;
}
.ButtonBar { 
  overflow: hidden;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 35px;
  white-space: nowrap;
  flex-direction: column;
  margin-top: 30px;
}

.ButtonBar a{
  display: flex;
}
.ButtonBar a i{
  margin-right: 5px;
}
.ButtonBar a:not(.filter-entry) {
 
  font-size: 16px;
  color: var(--Button-Text);
  text-align: center;
  padding-right:20px;
  padding-left:20px;
  height: 25px;
  text-decoration: none;
  padding-top: 10px;
}

.ButtonBar a{
  transition: all 0.5s;
}
.ButtonBar a:hover {
  background-color: var(--Button-Hover-Background);
  color: var(--Button-Hover-Text);
}

.divider{
  margin-top: 8px;
  color:var(--Button-Background);
  text-align: center;
  border-top: grey;
  border-top-width: 1px;
  border-top-style: solid;
}
.show {
  display: block!important;
}


.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  background-color: var(--Button-Background);
  z-index: 1;
  max-height: 80%;
  overflow: auto;
}

/* Links inside the filter dropdown */
.dropdown-content a {
  color: var(--Button-Text);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.usrpic {
  height: 30px;
  margin-right: 10px;
}
.footer{
  background-color: var(--Footer-Background);
  color: var(--Footer-Text);
  display: flex;
  line-height: 30px;
  justify-content: space-between;
  padding: 10px;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: var(--Button-Hover-Background)}

