:root {
--Button-Text:#ffffff;
--Header-Text:#ffffff;
--Header-Background:#FF9A29;
--Footer-Text:#ffffff;
--Button-Background:#5AAC89;
--Footer-Background:#5AAC89;
--Content-Background:#ffffff;
--Content-Text:#ffffff;
--Button-Hover-Background:#FF9A29;
--Button-Hover-Text:#ffffff;
}