:root {
--Button-Text:#ffffff;
--Header-Text:#ffffff;
--Header-Background:#35588c;
--Footer-Text:#ffffff;
--Button-Background:#6883a9;
--Footer-Background:#35588c;
--Content-Background:#ffffff;
--Content-Text:#ffffff;
--Button-Hover-Background:#ff6d02;
--Button-Hover-Text:#ffffff;
}