:root {
--Button-Text:#000000;
--Header-Text:#000000;
--Header-Background:#F4F6F7;
--Button-Background:#F4F6F7;
--Footer-Background:#8F97A2;
--Content-Background:#ffffff;
--Content-Text:#ffffff;
--Button-Hover-Text:#ffffff;
--Footer-Text:#ffffff;
--Button-Hover-Background:#FFEB3BF2;
}