:root {
--Button-Text-Hover:#FFFFFF;
--Button-Background:#A4A7A9;
--Header-Background:#B8BCBF;
--Header-Text:#FFFFFF;
--Footer-Text:#FFFFFF;
--Button-Text:#FFFFFF;
--Content-Background:#FFFFFF;
--Footer-Background:#B8BCBF;
--Content-Text:#FFFFFF;
--Button-Background-Hover:#ff6d02;
--Body-Background:#FFFFFF;
}