:root {
--Button-Text-Hover:#FFFFFF;
--Button-Background:#576674;
--Button-Text:#FFFFFF;
--Content-Background:#FFFFFF;
--Header-Background:#333A43;
--Header-Text:#FFFFFF;
--Footer-Background:#333A43;
--Footer-Text:#FFFFFF;
--Content-Text:#FFFFFF;
--Button-Background-Hover:#1CB5ED;
--Body-Background:#FFFFFF;
}