:root {
--Button-Text-Hover:#FFFFFF;
--Button-Background:#A872FF;
--Header-Background:#A872FF;
--Header-Text:#FFFFFF;
--Footer-Text:#FFFFFF;
--Button-Text:#FFFFFF;
--Content-Background:#FFFFFF;
--Footer-Background:#A872FF;
--Content-Text:#FFFFFF;
--Button-Background-Hover:#A872FF;
--Body-Background:#FFFFFF;
}