:root {
--Button-Text-Hover:#393939;
--Button-Hover-Text:#ffffff;
--Button-Background:#F44336;
--Header-Background:#2600A5;
--Header-Text:#FFFFFF;
--Footer-Text:#FFFFFF;
--Button-Hover-Background:#ff6d02;
--Button-Text:#FFFFFF;
--Content-Background:#ffffff;
--Footer-Background:#F44336;
--Content-Text:#ffffff;
--Button-Background-Hover:#FFFFFF;
--Body-Background:#FFFFFF;
}