:root {
--Button-Text:#ffffff;
--Header-Text:#ffffff;
--Header-Background:#2196F3BF;
--Footer-Text:#ffffff;
--Button-Background:#03A9F4B3;
--Footer-Background:#2196F3BF;
--Content-Background:#ffffff;
--Content-Text:#ffffff;
--Button-Hover-Background:#ff6d02;
--Button-Hover-Text:#ffffff;
}