:root {
--Button-Text-Hover:#FFFFFF;
--Button-Background:#006AFF;
--Button-Text:#FFFFFF;
--Content-Background:#FFFFFF;
--Header-Background:#0067FF;
--Header-Text:#FFFFFF;
--Footer-Background:#0067FF;
--Footer-Text:#FFFFFF;
--Content-Text:#FFFFFF;
--Button-Background-Hover:#75B9F2;
--Body-Background:#FFFFFF;
}