:root {
--Button-Text:#2A93D6;
--Header-Text:#2A93D6;
--Header-Background:#66A1D691;
--Button-Background:#66A1D654;
--Footer-Background:#669ED6;
--Content-Background:#ffffff;
--Content-Text:#ffffff;
--Button-Hover-Text:#ffffff;
--Footer-Text:#FFFFFF;
--Button-Hover-Background:#FF6D02;
}