:root {
--Button-Text-Hover:#FFFFFF;
--Button-Background:#B3B7B8;
--Button-Text:#FFFFFF;
--Content-Background:#FFFFFF;
--Header-Background:#E15759;
--Header-Text:#FFFFFF;
--Footer-Background:#B3B7B8;
--Footer-Text:#FFFFFF;
--Content-Text:#FFFFFF;
--Button-Background-Hover:#ff6d02;
--Body-Background:#FFFFFF;
}